[Unit]
Description=controls connected LEDs based on scenes
After=multi-user.target
After=network.target

[Service]
WorkingDirectory=/home/pi/GitHub/Led-Lights/raspi
ExecStart=python3 /home/pi/GitHub/Led-Lights/raspi/classroomLEDs.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=classroomLEDs
User=pi
Group=pi

[Install]
WantedBy=multi-user.target