{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.day_of_week.label }}<br>
            {{ form.day_of_week(size=32) }}
        </p>
        <p>
            {{ form.color.label }}<br>
            {{ form.color(size=32) }}
        </p>
        <p>
            {{ form.brightness.label }}<br>
            {{ form.brightness(size=32) }}
        </p>
        <p>
            {{ form.mode.label }}<br>
            {{ form.mode(size=32) }}
        </p>
        <p>
            {{ form.start_time.label }}<br>
            {{ form.start_time(size=32) }}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>

<!--
{% endblock %}
{% block app_content %}
    <h1>Edit The Current Scene</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
{% endblock %}
-->